.hero picture {
  width: 100%;
}

.hero img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.hero__content,
.hero__description {
  margin-top: var(--spacing-300);
}

.hero__content h1 {
  font-size: var(--text-preset-2);
  font-weight: var(--fw-extra-bold);
  line-height: var(--lh-tight);
  color: var(--navy-950);
}

.hero__description p {
  font-size: var(--text-preset-6);
  font-weight: var(--fw-regular);
  line-height: var(--lh-relaxed);
  color: var(--navy-600);
  margin-bottom: var(--spacing-300);
}

.hero__description button {
  background-color: var(--red-500);
  color: var(--navy-950);
  padding: var(--spacing-100) var(--spacing-400);
  font-size: var(--text-preset-7);
  font-weight: var(--fw-bold);
  line-height: var(--lh-loose);
  letter-spacing: var(--ls-7);
}

.hero__description button:hover {
  background-color: var(--navy-950);
  color: var(--white);
}

@media (min-width: 1024px) {
  .hero__content h1 {
    font-size: var(--text-preset-1);
  }
}
