.news-sidebar {
  background-color: var(--navy-950);
  color: var(--white);
  padding: 21.5px 20.5px;
  margin-bottom: var(--spacing-800);
}

.news-sidebar h2 {
  font-size: var(--text-preset-3);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
  color: var(--gold-400);
  margin-bottom: var(--spacing-400);
}

.news-sidebar__article h3 {
  font-size: var(--text-preset-4);
  font-weight: var(--fw-extra-bold);
  line-height: var(--lh-snug);
  margin-bottom: var(--spacing-100);
}

.news-sidebar__article--first {
  padding-bottom: var(--spacing-400);
  border-bottom: 1px solid var(--navy-600);
}

.news-sidebar__article--middle {
  padding: var(--spacing-400) 0;
  border-bottom: 1px solid var(--navy-600);
}

.news-sidebar__article--last {
  padding-top: var(--spacing-400);
}

.news-sidebar__article p {
  font-size: var(--text-preset-6);
  font-weight: var(--fw-regular);
  line-height: var(--lh-relaxed);
  color: var(--grey-300);
}

@media (min-width: 600px) {
  .news-sidebar {
    padding: var(--spacing-400) 41.69px;
  }

  .news-sidebar h2 {
    font-size: var(--text-preset-2);
  }
}

@media (min-width: 1000px) {
  .news-sidebar {
    padding: 32.5px var(--spacing-300);
    margin-bottom: 0;
  }

  .news-sidebar h2 {
    font-size: var(--text-preset-3);
  }
}
